<%- contentFor('body') %>
<h1 id="title">BCD collector <% if (dev) { %> (dev)<% } %></h1>
<div id="subtitle">
  <p>Browser compatibility data collection for <a href="https://github.com/mdn/browser-compat-data">@mdn/browser-compat-data</a>. <p>

  <p> <a href="https://openwebdocs.org/"><img src="/owd-logo-light.png" alt="Open Web Docs logo"></a></p>

  <p>The BCD collector is maintained by Open Web Docs. <br> You can support this project via
  <a href="https://opencollective.com/open-web-docs">sponsorships</a> on Open Source Collective.</p>
</div>

<%- include('extensioncheck') %>

<div id="run-tests" class="paper">
  <h2>Run Tests</h2>
  <form id="test-form" action="/api/get" method="post">
    <div id="test-entry">
      <datalist id="tests">
        <% tests.forEach(function(test) { %>
          <option value="<%- test %>"></option>
        <% }); %>
      </datalist>
      <input id="test-selection" name="testSelection" list="tests" placeholder="All Tests">
      <button name="submit" type="submit" id="start"><span class="mdi mdi-play"></span> Run</button>
    </div>
    <br>
    <div id="limit-exposure-box">
      <label for="limit-exposure"><span class="mdi mdi-circle-multiple-outline"></span> Limit Exposure:</label>
      <select id="limit-exposure" name="limitExposure">
        <option value="">All global exposures</option>
        <option value="Window">Window</option>
        <option value="Worker">Dedicated Worker</option>
        <option value="SharedWorker">Shared Worker</option>
        <option value="ServiceWorker">Service Worker</option>
      </select>
    </div>
    <% if (selenium) { %>
      <input id="selenium" name="selenium" type="hidden" value="true">
      <input id="ignore" name="ignore" type="hidden" value="<%=ignore%>">
    <% } %>
  </form>
  <%- include('unsecurewarning') %>
  <%- include('browserinfo') %>
</div>

<div id="supported-browsers">
  <h2>Supported browsers</h2>
  <p>Various browsers and environments are supported:</p>
  <p>Chrome 1+ / Edge 12+ / Firefox 1+ / Opera 9.5+ / Safari 3+</p>
  <p>Samsung Internet / Android & iOS WebViews / Oculus / and more</p>
  <p>Nodejs (see also the <a href="https://github.com/unjs/runtime-compat">RCD</a> project)</p>
</div> 

<div id="known-caveats" class="paper">
  <h2><span class="mdi mdi-glass-fragile"></span>Double check results</h2>
  <p>Some browser extensions, such as password managers, may cause compatibility conflicts. Disable extensions if possible.</p>
  <p id="known-caveats-file-issue">If you find any errors in feature detection, please <a href="https://github.com/openwebdocs/mdn-bcd-collector/issues/new"><span class="mdi mdi-alert-circle-outline"></span> file an issue</a> in the GitHub repository.</p>
</div>

<div id="privacy-notice" class="paper">
  <h2><span class="mdi mdi-hand-back-left"></span> Privacy notice</h2>
  <p>This website is designed to test as many browser features as possible. This includes features that access sensitive information, such as microphone, camera, geolocation, etc. <strong>No audio/video, geocoordinates, browser history, or other personal info is recorded, stored or transmitted.</strong> Only two pieces of information that identify your browser configuration are recorded: your browser's user agent string, which includes data about your operating system and browser version; and installed extensions from a set list of extensions known to cause compatibility testing issues.</p>
  <p>Cookies are used for session tracking, so that test results can be stored on the server and then optionally exported. Cached test results are cleared regularly.</p>
</div>

<script>
  function main() {
    var testSelection = document.getElementById('test-selection');
    var limitExposureBox = document.getElementById('limit-exposure-box');

    testSelection.onchange = function() {
      if (testSelection.value == '' || testSelection.value.indexOf('api') == 0) {
        limitExposureBox.style.display = "block";
      } else {
        limitExposureBox.style.display = "none";
      }
    }
  }

  window.onload = main;
</script>
